@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.bg-clr {
    background-color: rgb(247, 247, 247);
}

/* nav-box */
.Frame-1 {
    margin: 10px 0px;
    gap: 186;
    width: 1160px;
    height: 62px;
    margin-bottom: 18px;
}
.frame-2 {
    padding: 16px 150px;
}

/* shared styles */
.display-flex {
    display: flex;
}
.position {
    position: relative;
}

/* Banner */

.image {
    margin: 0px 186px;
    left: 1px;
    right: 140px;
    width: 62px;
    height: 62px;
}

.school {
    font-size: 2rem;
    font-weight: 700;
    margin: 17px 0px 15px 11px;
    gap: 186;
}
/* navbar */
.navbar {
    justify-content: space-between;
    padding: 20px 0px;
    gap: 10;
    width: 1440px;
    height: 102px;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
    font-weight: 700;
}
.nav-link {
    text-decoration: none;
}

/* button */
.btn-primary {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    border-radius: 12px;
    padding: 16px 60px;
    border: none;
}

/* color */

.text-Orange {
    color: rgb(254, 163, 1);
}

.text-sky-blue {
    color: rgb(1, 172, 253);
}

.text-blue {
    color: rgb(5, 212, 223);
}
.text-purple {
    color: rgb(93, 88, 239);
}
.blue {
    color: rgb(100, 200, 255);
    margin-bottom: 58.48px;
}
.orange {
    color: rgb(240, 170, 0);
    margin-bottom: 58.48px;
}
.purple {
    color: rgb(135, 0, 255);
    margin-bottom: 58.48px;
}
.white {
    color: white;
    margin-bottom: 58.48px;
}
.clr-1 {
    background-color: rgb(149, 178, 38);
}
.clr-2 {
    background-color: rgb(93, 88, 240);
}
.clr-3 {
    background-color: rgb(60, 216, 232);
}

.clr-4 {
    background-color: white;
}
.clr-5 {
    background-color: black;
}

/* border */
.border-radius {
    border-radius: 16px;
}
.border-radius-1 {
    border-radius: 16px 16px 0px 0px;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */
.banner {
    margin-top: 122px;
    margin-bottom: 122px;
    justify-content: center;
}

.banner-content {
    max-width: 640px;
    margin: 0px 50px;
    gap: 24;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    margin: 24px 0px;
    gap: 24;
}

.banner-decription {
    font-size: 20px;
    color: rgb(17, 17, 17);
    margin: 24px 0px;
    gap: 24;
    margin-bottom: 24px;
}

.btn-banner {
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 12px;
    margin: 24px 0px;
    padding: 16px 60px;
}

/* .banner-image {
    width: 100%;
} */

/*  responsive media query*/
@media screen and (max-width: 576px) {
    .Frame-1,
    .display-flex,
    .image,
    .banner {
        flex-direction: column;
    }
}

/* main */
/* main > section {
    margin-top: 120px;
} */

main,
header {
    max-width: 1440px;
    margin: 0 auto;
}

.standard {
    background-image: url(../image/bg.png);
}
.standard-text {
    margin-top: 60px;
    margin-bottom: 80px;
    font-size: 46px;
    text-align: center;
    font-weight: 700;
}

.standard-card {
    justify-content: space-between;
    gap: 30px;
    margin: 120px 140px;
}

.standard-icon {
    width: 367.8px;
    padding: 30px;
    border-radius: 19px;
    text-align: center;
}

.box-title {
    font-size: 24px;
    font-weight: 700;
    color: rgb(32, 32, 32);
}
.box-description {
    font-size: 15px;
    font-weight: 500;
    color: rgb(128, 128, 128);
    /* margin: 34px 40px; */
}

/* standard linear */

.standard-icon.box-1 {
    background: linear-gradient(
        180deg,
        rgb(222, 245, 255),
        rgba(255, 255, 255, 0)
    );
    border: 0.94px solid rgb(222, 245, 255);
}
.standard-icon.box-2 {
    background: linear-gradient(
        180deg,
        rgb(255, 244, 220),
        rgba(255, 255, 255, 0)
    );
    border: 0.94px solid rgb(255, 244, 220);
}
.standard-icon.box-3 {
    background: linear-gradient(
        180deg,
        rgb(238, 225, 255),
        rgba(255, 255, 255, 0)
    );
    border: 0.94px solid rgb(242, 232, 255);
}

/* General Slider Navigation Styles */
.slider-navigation {
    align-items: center;

    margin: 80px 655px 60px 655px;
}

/* Button Styles */
button {
    border: none;
    font-size: 24px;
    color: white;
}
/* Previous and Next Button Styles */
.prev-slide {
    border-radius: 30px;
    background-color: rgb(254, 163, 1);

    gap: 10;
    width: 60px;
    height: 60px;
}

.next-slide {
    border-radius: 30px;
    background-color: rgb(254, 163, 1);

    width: 60px;
    height: 60px;
}

/* our story */

.linear {
    background: linear-gradient(
        0deg,
        rgba(254, 163, 1, 0.3),
        rgba(255, 255, 255, 0.3)
    );
}
.back-clr {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
}

.story-header {
    font-size: 46px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
}
.body {
    text-align: center;
    margin-right: 140px;
    justify-content: center;
    gap: 10px;
}
.Our-story {
    width: 560px;
    height: 622.52px;
    margin-left: 140px;

    margin: 80px 0px 0px 140px;
}

.story-icon {
    background-color: rgb(217, 217, 217);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-story {
    border-radius: 48px;
    text-align: left;
    border: none;
    padding: 15px 19px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.story-context {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin: 39px 100px 50px 39px;
}
.story-description {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(102, 102, 102);
    text-align: left;

    margin: 51px 69px 34px 39px;
}

.team-image {
    gap: 10px;
    margin: 80px 140px 0px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img-description {
    font-size: 1rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 28px 38px;
}

.btn-img {
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin: 80px 620px 60px 620px;
    padding: 16px 60px;
    border-radius: 12px;
    border: none;
}

/* Footer */
.frame-3 {
    margin: 123px 228px 174px 140px;
    justify-content: center;
}

footer {
    background-color: rgb(1, 172, 253);
    width: 1440px;
    height: 600px;
    justify-content: center;
    margin: 0 auto;
}

.foot-header {
    font-size: 42px;
    font-weight: 700;
    color: white;
    margin: 17px 0px 15px 11px;
}

.foot-img {
    width: 83px;
    height: 82px;
}

.foot-description {
    padding-top: 50px;
    text-align: left;
    justify-content: space-between;
    font-size: 20px;
    margin: 36px 117px 5px 7px;
    width: 399.02px;
    height: 100px;
}

.foot-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.foot-links {
    margin-right: 117px;
}
.foot-item {
    list-style: none;
    margin-right: 32px;
    font-weight: 700;
    font-size: 20px;
}
.foot-header-2 {
    font-size: 24px;
    margin-bottom: 33px;
    margin-right: 117px;
    width: 156.36px;
    height: 30px;
}

.footer-logo {
    gap: 10px;
}

.logo-header {
    font-size: 26px;
    font-weight: 700;
}
.logo-1 {
    margin-bottom: 32px;
}
.logo-2 {
    margin-bottom: 45px;
}

/* Footer Responsive */
