@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bg-clr {
    background-color: rgb(247, 247, 247);
}
/* nav-box */
.Frame-1 {
    display: flex;
    margin: 10px 0px;
    gap: 186;
    width: 1160px;
    height: 62px;
    margin-bottom: 18px;
}
.frame-2 {
    padding: 16px 150px;
}

/* shared styles */
.display-flex {
    display: flex;
}
/* site */
.image {
    display: flex;

    margin: 0px 186px;
    left: 1px;
    right: 140px;
    width: 62px;
    height: 62px;
}
.school {
    font-size: 2rem;
    font-weight: 700;
    margin: 17px 0px 15px 11px;
    gap: 186;
}
/* navbar */
.navbar {
    justify-content: space-between;
    padding: 20px 0px;
    gap: 10;
    width: 1440px;
    height: 102px;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
    font-weight: 700;
}
.nav-link {
    text-decoration: none;
}

/* button */
.btn-primary {
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    border-radius: 12px;
    padding: 16px 60px;
    border: none;
}

/* color */

.text-Orange {
    color: rgb(254, 163, 1);
}

.text-sky-blue {
    color: rgb(1, 172, 253);
}

.text-blue {
    color: rgb(5, 212, 223);
}
.text-purple {
    color: rgb(93, 88, 239);
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */
.banner {
    display: flex;

    margin-top: 122px;
    margin-bottom: 122px;
    justify-content: center;
}

.banner-content {
    max-width: 640px;
    margin: 0px 50px;
    gap: 24;
}

.banner-title {
    font-size: 56px;
    font-weight: 700;
    margin: 24px 0px;
    gap: 24;
}

.banner-decription {
    font-size: 20px;
    color: rgb(17, 17, 17);
    margin: 24px 0px;
    gap: 24;
    margin-bottom: 24px;
}

.btn-banner {
    background-color: rgb(17, 17, 17);
    color: white;
    border-radius: 12px;
    margin: 24px 0px;
    padding: 16px 60px;
}

/* .banner-image {
    width: 100%;
} */

/*  responsive media query*/
@media screen and (max-width: 576px) {
    .Frame-1,
    .display-flex,
    .image,
    .banner {
        flex-direction: column;
    }
}
